@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

@font-face {
  font-family: love;
  src: url(./assets/fonts/Love.ttf);
}

body {
  background-color: var(--dark-green);
  overflow: hidden;
}

ul,
li {
  text-align: left;
  list-style: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

:root {
  --width: 1000px;

  --dark-green: #50cb93;
  --less-dark-green: #14db82;
  --medium-green: #71efa3;
  --light-green: #b8fdb9;
  --light-blue: #8da9c4;
  --purple: #6e578b;

  --sent-message: #6e578b;
  --received-message: #e5e5ea;
  --circular-button: #acffad;

  --scroll-thumb: #6e578b;
}

.App {
  max-width: var(--width);
  max-width: var(--width);
  margin: 0 auto;
  text-align: center;
}

.App header {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2);

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  background-color: var(--medium-green);
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: var(--width);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  transition: 300ms all;
  width: 110px;
}

.right {
  display: flex;  
  align-items: center;
  margin-left: auto;
}

.profile{
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2);

  width: auto;
  height: 40px;
  border-radius: 50px;
  background: var(--purple);
  padding: 10px 0 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.profile h3 {
  color: white;
  padding: 0;
  margin: 0;
}

.App .section {
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  box-shadow: 0px 1px 20px 0px rgba(0,0,0,.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--medium-green);
  background-image: linear-gradient(var(--less-dark-green), var(--medium-green));
}

.welcome {
  font-family: "Nanum Pen Script", cursive;
  font-size: 24px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.welcome-text-top {
  color: rgba(255, 255, 255, 0.979);
}

.welcome-text-bottom {
  margin-top: 16px;
  color: rgba(100, 100, 100, 0.979);
  font-weight: bold;
}

.welcome-logo {
  width: 100%;
  width: 450px;
  transition: 300ms all;
}

.welcome-logo:hover {
  width: 475px;
}

.auth-btns{
  margin-top: 50px;
}


.auth-btn {
  margin: 0 auto;
  margin-top: 20px;
  transition: 200ms all;
  cursor: pointer;
  width: 240px;
  height: 42px;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
.auth-btn:hover{
  border-radius: 3px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.4);
}

.google-btn{
  background-color: #4285f4;
}

.facebook-btn{
  background-color: #4267B2;
}

.apple-btn{
  background-color: black;
}

.auth-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.auth-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
}

.auth-text {
  margin: 10px 20px;
  float: right;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.sign-in {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
  background-color: transparent;
}

.sign-in .button-text {
  transition: 300ms all;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 10px;
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.sign-out {
  color: var(--purple);
  font-size: 32px;
  cursor: pointer;
}

main {
  padding: 10px;
  height: 80vh;
  margin-top: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.35rem;
}

main::-webkit-scrollbar-track {
}

main::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 50px;
}

.first-message{
  font-family: "Nanum Pen Script", cursive;
  font-size: 64px;

}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: var(--width);
  display: flex;
  font-size: 1.5rem;
}

.send {
  padding: 7px 16px;
  font-size: 1.9rem;
  clip-path: circle();
  margin-right: 10px;
  background-color: var(--purple);
}

.emoji-button {
  padding: 7px 16px;
  transition: 350ms all;
  font-size: 1.9rem;
  clip-path: circle();
  margin-left: 10px;
  background-color: var(--purple);
}

.chat-room .picker {
  position: fixed;
  bottom: 60px;
  left: 60px;
}

::placeholder {
  color: var(--light-blue);
}

.type {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2);

  background-color: var(--light-green);
  caret-color: var(--purple);
  color: var(--purple);
  margin: 30px 15px 30px 15px;
  border-radius: 25px;
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  border: none;
  padding: 0 20px;
}

button {
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.message {
  padding: 10px;
  display: flex;
  align-items: center;
}

.text {
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.2);

  max-width: 500px;
  height: auto;
  margin-bottom: 12px;
  padding: 0px 15px;
  border-radius: 9px;
  position: relative;
  color: white;
}

.sent .time {
  color: #fff;
  opacity: 0.6;
}

.sent .name {
  color: #fff;
  opacity: 0.6;
}

.received .time {
  opacity: 0.6;
}

.received .name {
  opacity: 0.6;
}

.text p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.sent p {
  text-align: right;
}

.sent {
  flex-direction: row-reverse;
}


.sent .text {
  text-align: right;
  color: white;
  background: var(--sent-message);
  align-self: flex-end;
}
.received .text {
  background: var(--received-message);
  color: black;
  text-align: left;
}

.pp {
  width: 50px;
  border-radius: 50%;
  margin: 2px 20px;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
  .App header {
    border-radius: 0;
  }

  .logo {
    width: 100px;
  }

  .type {
    height: 45px;
  }

  .welcome-logo {
    width: 300px;
  }

  .welcome-logo:hover {
    width: 340px;
  }
}

@media only screen and (max-width: 1400px) {
  .picker {
    margin-bottom: 60px;
  }
}
